<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rerum in dolorum eum? Soluta velit
      perferendis dolorem et temporibus. Omnis quia quibusdam asperiores illum dolorem earum ab illo exercitationem
      neque facilis praesentium, sunt consequatur ipsum? Repellat reiciendis tempora eaque voluptate?</p>
  </div>
</div>