<div class="h-100 p-5 bg-light border rounded-3 mt-4">
  <h1 class="display-4">Notes App Nodesjs And MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Consectetur nobis ea, ipsam omnis quasi asperiores ullam, necessitatibus
    saepe voluptatibus, odit culpa qui? Voluptas, quos ad voluptates natus quia
    fugit tempora.</p>
  <hr class="my-4" />
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero deleniti a
    iusto saepe nemo non, vitae eos molestias dolore ipsam nesciunt rerum eum in
    facilis nam assumenda aperiam laudantium soluta!</p>
  <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
</div>