<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1>Account Login</h1>
      </div>
      <img src="https://placeimg.com/200/200/people" class="rounded-circle mx-auto d-block m-4 Logo" alt="Logo">
      <div class="card-body">
        <form action="/users/singin" method="POST">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
          </div>

          <div class="form-group mt-3">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>

          <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">SingIn</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>